
$general-dark: rgb(32, 32, 32);

.add {
    border-radius: 4px;
    background-color: rgb(106, 194, 206);
    border: none;
    color: $general-dark;
    font-size: 1.1rem;
    letter-spacing: 0.1em;
    padding: 0.7em;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
    margin: 0.5em auto;
    outline: none;
  }
button {
    display: inline;
    margin: 0.5em auto;
    padding: 0.6em;
    border-radius: 4px;
    color: $general-dark;
    letter-spacing: 0.1em;
    border: 1px rgb(106, 194, 206) solid;
    font-size: .9rem;
    font-family: 'Epilogue';
    text-transform: uppercase;
    box-shadow: 2px 7px 12px -6px rgba(173,173,173,1);
    transition: all 0.4s ease-in-out;

    &:hover {
        background-color: $general-dark;
        outline: none!important;
        color: rgb(214, 214, 214);
    }
    &:focus {
        outline: none;
    }
}

#save-notes {
    padding: 0.5em;
}

